 {% extends "base.html" %}

{% block body %}


<div class="form-wrapper">
<h2>Login</h2>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
{% csrf_token %}
            {{ form.as_p }}
<input type="submit" value="login" class="button button-blue"/>

{% if next %}
  <input type="hidden" name="next" value="{{ next }}" />
{% else %}
  <input type="hidden" name="next" value="/items/latest" />
{% endif %}
</form>

</div>

{% endblock %}